.scroller{
    min-height: 22vh;
    width: max-content;
    display: flex;
    align-items: center;
}

.h2{
    font-size:98px;
    line-height: 98px;
    letter-spacing: 0.03em;
    word-spacing: 5rem;
}

.scroll-left {
    animation: scroll-left 700s infinite linear;
}

.scroll-right {
    animation: scroll-right 700s infinite linear;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-95%);
    }
    100% {
        transform: translateX(0%);
    }
}

@media (max-width: 540px) {
    .scroller{
        min-height: 11vh;
    }

    .h2{
        font-size:48px;
        line-height: 48px;
        letter-spacing: 0.03em;
        word-spacing: 3rem;
    }
}