nav {
    padding: 2rem 20vw;
}

ul {
    display: flex;
    justify-content: space-between;
    visibility: visible;
}

li {
    display: inline-block;  
}

li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #111118;
    transition: 250ms ease-in-out;
}

li a:hover {
    color: #FF4100;
    transition: 250ms ease-in-out;
}

/* .mobile-show-nav {
    visibility: visible;
} */

  @media (max-width: 540px) {
    ul {
        visibility: hidden;
    }
    li a {
        transition: none;
    }
  }